@import "normalize.min.css"
@import "nib"

$main-text-color = #3a4556;
$light-gray = #acacac;
$blue = #4583cf;

$orange = #fc7b5c;
$pink = #f66dc4; 
$green = #18c099; 
$yellow = #e6de5b;

svg
  width: 100%;

body
  font-family: Proxima Nova, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.48;
  color: $main-text-color;
  font-weight: 300;
  
h1
  font-size: 1em;

h1, h2, h3, h4, h5
  line-height: 1.2;

.light-gray-text
  color: $light-gray;
  
.uppercase
  text-transform: uppercase;
  font-weight: 600;

.section
  padding: 2em 1em;
  text-align: center;
  
.text-orange
  color: $orange;
.text-pink
  color: $pink;
.text-blue
  color: $blue;
.text-green
  color: $green;
.text-yellow
  color: $yellow;

button,
.button
  border-radius: 2px;
  padding: 0.4em 0.6em;
  line-height: 1;
  color: white;
  font-weight: 300;
  vertical-align: middle;
  &.button-orange
    background-color: $orange;
    border: 1px solid $orange;
    transition: background-color 250ms;
    &:hover
      background-color: #fb624a;
  &.button-pink
    background-color: $pink;
    border: 1px solid $pink;
    transition: background-color 250ms;
    &:hover
      background-color: #f457b8;
  &.button-blue
    background-color: $blue;
    border: 1px solid $blue;
    transition: background-color 250ms;
    &:hover
      background-color: #376ac5;
  &.button-green
    background-color: $green;
    border: 1px solid $green;
    transition: background-color 250ms;
    &:hover
      background-color: #13b385;
  &.button-yellow
    background-color: $yellow;
    border: 1px solid $yellow;
    transition: background-color 250ms;
    &:hover
      background-color: #e1d749;
  &.counter.clear
    border-color: transparent;
    background: transparent;
    color: $light-gray;
    opacity: 0;
    transition: opacity 300ms 2500ms;
      
       
header
  padding: 1em;
  overflow: auto;
  text-align: center;
  & .logo
    display: inline-block;
    line-height: 1;
    margin-top: 0.05em;
    & img
      width: 115px;
  & a
    color: $main-text-color;
    &:hover
      color: $blue;

nav.main-menu
  margin-top: 0.5em;
  & ul
    list-style: none;
    padding: 0;
    margin: 0;
  & li 
    display: inline-block;
  & a
    text-decoration: none;
    font-size: 0.75em;
    padding: 0 0.5em;
    transition: color 250ms;
    display: inline-block;
    & img[alt="Link to twitter page"]
      width: 1.3em;
      margin-bottom: -2px;
        
section.hero
  background-image: url('images/mesh.jpg');
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center 10%;
  & h1
    font-size: 1.1em;
    & span
      text-transform: initial;
      font-weight: 300;
      display: block;
  & .newsletter-form
    margin-top: 2em;
  & .twitter-follow
    text-decoration: none;
    font-size: 0.75em;
    padding: 0 0.5em;
    transition: color 250ms;
    display: inline-block;
    margin-top: 4em;
    & img[title='twitter']
      width: 1.3em;
      margin-bottom: -2px;
      margin-left: 0.5em;
      
.share-bar
  margin-top: 4em;
  & span
    padding: 4px 0 0 0;
    display: inline-block;
  & .share-btns
    margin-top: 0.75em;
      
.fb-btn,
.tw-btn
  display: inline-block;
  height: 27px;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 86px;
  
.tw-btn
  padding-top: 3px;
        
section.description
  background: #18c099 url("images/bg-pattern.gif");
  color: white;

section.features
  & div > img
    max-width: 70%;
    margin-bottom: 1em;
  & div > svg
    max-width: 70%;
    margin-bottom: 1em;
  & hr
    width: 80%;
    line-height: 1;
    border: none;
    border-top: 1px solid #dddddd;
    margin-top: 2em;
    clear: both;
  & .feature-item
    margin: 2em auto 2em;
    &:last-child hr
      opacity: 0;
  & button
    & img
      width: 15px;
      margin-right: 0.4em;
    
section.pricing
  background-color: $blue;
  color: white;
  
  & > div > h1
    margin-bottom: 2em;
  
.plan-item
  width: 84%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  color: #3a4556;
  box-sizing: border-box;
  padding: 1.5em 1em 2em;
  margin-bottom: 1.5em;
  border: 3px solid rgb(45, 110, 190);
  
  & em
    font-weight: bold;
    
  & p
    margin-bottom: 0.67em;
    margin-top: 0.67em;
    
  & a
    color: #f66dc4;
    &:hover
      color: #e355af;
  
.plan-title
  text-transform: uppercase;
  color: #18c099;
  font-size: 1.3em;
  margin-bottom: 1em;
  & span
    font-weight: 300;
    font-size: 0.75em;
    color: #3a4556;
   
footer
  border-top: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #bdbdbd;
  overflow: auto;
  text-align: center;
  font-size: 0.75em;
  & a
    color: #bdbdbd;
    &:hover
      color: #9d9d9d;
  & .main-menu
    float: none;
    margin-top: 1em;
    
.newsletter-form
  padding-top: 1em;
  max-width: 401px;
  margin-left: auto;
  margin-right: auto;
  & input[type="email"]
    margin: 0;
    border: 1px solid #ababab;
    border-radius: 2px;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    padding: .3em .6em;
    vertical-align: top;
    height: 25px;
    width: 179px;
    margin-bottom: 1em;
  & .button
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
    padding-top: 0.5em;
    margin-left: -2px;
    height: 25px;
    
#mce-success-response
  background-color: rgba(0, 128, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  color: rgb(76, 119, 36);
  
#mce-error-response
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(77, 77, 77);
  font-size: 0.85em;
  padding: 5px;
  border-radius: 3px;
  
  & a
    text-decoration: none;
    color: rgb(77, 104, 240);
  
    

// ANIMATIONS
@keyframes browse {
  from {
    fill: #387ACC;
  }

  to {
    fill: #FC7B5C;
  }
}

#browse.active #tree {
  animation: browse 400ms linear 100ms forwards;
}
// ----------------------------------------------

@keyframes analyze {
  from {
    fill: #DDDDDD;
  }

  to {
    fill: #F66DC4;
  }
}

#analyze.active #branch {
  animation: analyze 400ms linear 100ms forwards;
}
// ----------------------------------------------

@keyframes define {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#define #versions {
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

#define #thumbs {
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

#define.active #versions {
  animation: define 400ms linear 100ms forwards;
}

#define.active #thumbs {
  animation: define 400ms linear 400ms forwards;
}
// ----------------------------------------------

@keyframes notify {
  from {
    fill: #387ACC;
  }

  to {
    fill: #F66DC4;
  }
}

#notify.active #bells {
  animation: notify 400ms linear 100ms forwards;
}
// ----------------------------------------------

@keyframes compare {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#compare #version1 {
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

#compare #version2 {
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

#compare.active #version1 {
  animation: compare 400ms linear 100ms forwards;
}

#compare.active #version2 {
  animation: compare 400ms linear 400ms forwards;
}
// ----------------------------------------------

@keyframes findout {
  from {
    fill: #387ACC;
  }

  to {
    fill: #E6DE5B;
  }
}

#findout.active #difference {
  animation: findout 400ms linear 100ms forwards;
}
// ----------------------------------------------




@media only screen and (min-width: 27.3em)
  .section > div
    max-width: 27.3em
    margin: 0 auto;
  
  header > div
    max-width: 30em;
    margin: 0 auto;

  header .logo
    float: left;
    margin-top: 2px;
  
  nav.main-menu
    margin-top: 0;
    float: right;
  
  section.hero
    background-size: 125%;
    & h1 
      font-size: 1.3em;
  
  footer nav.main-menu
    float: none;

   
@media only screen and (min-width: 37.5em)
  section.hero
    background-size: 100%;
  
  footer
    text-align: left;
    
    &.section > div
      max-width: none;


@media only screen and (min-width: 43.5em)
  .light-gray-text
    max-width: 60%;
    margin: 0 auto;
  
  .section > div
    max-width: 100%;
  
  header > div
    max-width: 50em;

  section.hero
    background-size: 80%;

  section.description
    background: #18c099 url("images/guy-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  section.description
    overflow: auto;
    
    & > div
      max-width: 50%;
      text-align: left;
      float: right;
      text-shadow: 0 1px 0px rgba(3, 3, 3, 0.4);
      
  section.feature-item
    overflow: overlay;
    
    & > div
      width: 55%;
      margin-bottom: 2em;
      
      & > img
        max-width: 80%;
        
      & > svg
        max-width: 80%;
    
    & > div.description
      width: 45%;
      text-align: left;
      padding: 0 0 0 1em;
      box-sizing: border-box;
      
  section.feature-item:nth-child(odd)
    & > div
      float: left;
    & > div.description
      float: right;
      padding-right: 4em;
        
  section.feature-item:nth-child(even)
    & > div
      float: right; 
    & > div.description
      float: left;
      padding-left: 4em;
      
  section.feature-item:last-child
    margin-bottom: 0;
    & > div
      margin-bottom: 0;
      & svg
        margin-bottom: 0;
  
  .plan-item
    width: 39%;


@media only screen and (min-width: 54.55em)
  .section
    padding: 4em 3em;

  section.hero
    background-size: 70%;
    
    & .share-bar
      margin-top: 5em;
      & span
        padding-right: 15px;
        vertical-align: middle;
      & .share-btns
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
    
  section.description > div
    max-width: 40%;
    
  .plan-item
    width: 28%;


@media only screen and (min-width: 68em)
  .section
    position: relative;
    padding: 4em 3em;
  
  .light-gray-text
    max-width: 32%;

  header .logo img
    width: 140px;
    
  nav.main-menu 
    & ul
      margin-top: 0.2em;
    & a
      padding: 0 1.5em;
  
  section.hero
    padding: 9em 3em 2em;
    background-size: 65%;
    background-position: center 25%;
    
    & h1
      font-size: 1.5em;
      
    & .share-bar
      margin-top: 8em;
      
  .newsletter-form 
    & input[type="email"]
      height: 30px;
      width: 200px;
      
    & .button
      height: 30px;
      padding-left: 1.5em;
      padding-right: 1.5em;  
  
  section.description > div
    max-width: 33%;
    
  section.features .feature-item
    max-width: 1000px;
    margin: 4em auto;
  
    &:nth-child(odd) > div.description
      padding-right: 7em;
    &:nth-child(even) > div.description
      padding-left: 7em;
    
  section.feature-item > div
    margin-bottom: 4em;
    
    & > img
      max-width: 75%;
    
    & > svg
      max-width: 75%;
  
  section.features .feature-item:last-child
    margin-bottom: 0;
    
    & > div
      margin-bottom: 0;
      
  .plan-item
    width: 22%;
      
  footer
    font-size: .85em;
      






